:root {
  --primary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --page-background-color: #ffffff;
  --additional-text-color: #434455;
  --footer-logo-color: #f4f4fd;
}

body {
  color: #434455;
  text-decoration-color: #434455;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

.header-button:hover,
.header-button:focus {
  background-color: #404bbf;
}
button :hover,
button :focus {
  background-color: #404bbf;
  color: #ffffff;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
  background-color: #f4f4fd;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.logo span {
  color: #2e2f42;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-navi a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.top-line-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.site-nav-link {
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-email {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-tel {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-title {
  background-color: #434455;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 12.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-open-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-dskr {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .our-team { 

}*/

.our-team-dskr {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 1764px;

  /* NAVY BLUE */

  background: #2e2f42;
}

.footer-dskr {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-top {
  color: #2e2f42;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.footer-logo-color {
  color: #f4f4fd;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
