body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button :hover,
button :focus {
  background-color: #404bbf;
  color: #ffffff;
}
button {
  cursor: pointer;
}
